* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 8vw;
}

main,
form,
form + div,
select + div,
div + div,
nav + div {
    margin-top: 50px;
}

ul + ul {
    margin-top: 25px;
}

h1 {
    margin: 0;
}

p {
    letter-spacing: .02em;
    line-height: 1.4;
}

span + button,
input + button {
    margin-left: 10px;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}

li + li {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a + a,
a + button,
button + button,
button + select,
select + button {
    margin-left: 15px;
}